*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    /* background-color: rgb(157, 248, 119); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h6{
    text-align: right;
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    gap: 2rem;
}

.box-er{
    min-width: 400px;
    height: 70vh;
    padding: 1rem;
    /* background-color: aliceblue; */
}

.wrapper_input{
    width: 100%;
    margin-top: .8rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input{
    width: 100%;
    padding: .2rem;
}
button{
    width: 100%;
    background-color: rgb(157, 248, 119);
    border-radius: 5px;
    padding: .5rem 1rem;
    border: solid 1px rgb(72, 172, 35);
    color: rgb(8, 21, 2);
    /* font-weight: 600; */
}